@import "src/variables";

.cta {
  cursor: pointer;
  position: relative;
  min-height: 68px;
  min-width: 260px;
  max-width: 360px;
  overflow: hidden;
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  @media only screen and (max-width: $largeDisplay) {
    max-height: 68px;
    min-height: 68px;
  }
  @media only screen and (max-width: $mediumDisplay) {
    min-width: 198px;
    width: 244px;
    //width: 280px;
  }
  @media only screen and (max-width: $mediumDisplay) {
    max-height: 60px;
    min-height: 60px;
  }

  &.primary {
    background-color: #FE5840;
  }

  &.secondary {
    color: var(--text-secondary);
    border: 1px solid #FE5840;
    background-color: transparent;
  }
}

.text {
  padding: 0 20px;
  font-size: 19px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  @media only screen and (max-width: $largeDisplay) {
    font-size: 16px;
  }
  @media only screen and (max-width: $smallDisplay) {
    font-size: 14px;
  }
  svg{
    path{
      fill: var(--text-color);
    }
  }
}

.mirror {
  .text {
    padding-left: 110px;
    padding-right: 0;

  }

  &:after {
    left: -10px;
  }

  @media only screen and (max-width: $smallDisplay) {
    width: 280px;
  }
}

.icon {
  min-width: 25px;
  margin-right: 10px;
}