@import "src/variables";

.root {
  color: white;
  padding-top: 0;
  background: #232725;
  position: relative;
  min-height: 60vh;
  overflow: hidden;
  font-family: LexendLight;
  padding-left: 50px;
  padding-right: 50px;

  :global {
    .swiper {
      padding-top: 155px;
      padding-bottom: 230px;
      @media only screen and (max-width: $mediumDisplay) {
        padding-top: 120px;
        padding-bottom: 100px;
        height: 750px;
      }
      @media only screen and (max-width: $smallDisplay) {
        padding-top: 80px;
        height: 595px
      }
    }

    .swiper-slide {
      height: 42vh;

      @media only screen and (max-width: $smallDisplay) {
        height: 42vh;
      }
    }

    .swiper-pagination-bullet {
      width: 42px;
      height: 3px;
      border-radius: 0;
      background: #D9D9D9;
    }

    .swiper-pagination {
      z-index: 6;
      position: absolute;
      bottom: 0px;
    }

    .swiper-pagination-bullet-active {
      background: #FE5840;
    }

    //.swiper-slide-prev, .swiper-slide-next {
    //  & > div {
    //    zoom: 0.7;
    //    width: 80%;
    //    margin: 10% auto 0;
    //  }
    //}
  }

  @media only screen and (max-width: $mediumDisplay) {
    padding: 80px;
    min-height: auto;
  }
  @media only screen and (max-width: $smallDisplay) {
    padding: 60px;
    min-height: auto;
  }
}

.navigation {
  display: flex;
  align-items: center;
  padding: 0 0 40px 0;
  position: absolute;
  bottom: -10px;
  width: 100%;
  @media only screen and (max-width: $extraSmallDisplay) {
    display: none;
  }
}

.arrow {
  margin-right: 15px;
}

.pageTitle {
  font-size: 45px;
  letter-spacing: 1px;
  position: absolute;
  top: 40px;
  @media only screen and (max-width: $largeDisplay) {
    font-size: 40px;
  }
  @media only screen and (max-width: $mediumDisplay) {
    font-size: 40px;
    top: 85px;
  }
  @media only screen and (max-width: $smallDisplay) {
    font-size: 34px;
    top: 60px;
  }
}

.partner {
  margin-bottom: 30px;
  color: white;
  border: 1px solid;
  padding: 40px;
  min-height: 55vh;
  border-top-right-radius: 40%;

  img {
    height: 100px;
  }
}

.title {
  font-family: LexendLight;
  font-size: 32px;
  margin-top: 30px;
  @media only screen and (max-width: $smallDisplay) {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.subtitle {
  margin: 12px 0;
  opacity: 0.6;
  font-size: 19px;
  font-family: Lexend;
}

.desc {
  font-size: 16px;
  font-family: LexendLight;
  line-height: 1.5;
  @media only screen and (max-width: $mediumDisplay) {
    font-size: 15px;
  }
  @media only screen and (max-width: $smallDisplay) {
    font-size: 12px;
  }
}