.root {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.block {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  @media screen and (max-width: 768px) {
    width: 70px;
    font-size: 14px;
  }
}

.number {
  font-size: 49px;
  margin-bottom: 10px;
  @media screen and (max-width: 768px) {
    font-size: 30px;
  }
}

.accent {
  color: #FE5840;
  font-size: 49px;
  margin: 0 10px 25px;
  @media screen and (max-width: 768px) {
    font-size: 30px;
  }
}

