@import "src/variables";
.root {
  position: relative;
  background: var(--background-color);
  padding: 80px 0 0;
  color: var(--text-color);
  width: 100%;
  @media only screen and (max-width: $mediumDisplay) {
    padding: 40px 0 80px;
  }
  @media only screen and (max-width: $smallDisplay) {
    padding: 20px 0 80px;
  }
}
html[lang='am'] .title{
  font-family: DejaVuSans, Arial, sans-serif;
}
.title {
  font-family: LexendLight;
  position: absolute;
  top: 80px;
  font-size: 80px;
  letter-spacing: 1px;
  padding-bottom: 40px;
  left: 40%;
  @media only screen and (max-width: $mediumDisplay) {
    font-size: 65px;
    top: 45px;
  }
  @media only screen and (max-width: $smallDisplay) {
    left: 0;
    margin-left: 0;
    font-size: 40px;
    position: relative;
    padding: 0;
    top: 0;
    text-align: center;
    margin-bottom: 40px;
  }
  span {
    color: #FE5840;
  }
}
.partner{
  img{
    width: 80px;
    height: 80px;
  }
}