@import "src/variables";

.root {
  min-height: 100vh;
  color: white;
  padding: 150px 50px 0;
  display: flex;
  justify-content: space-between;
  position: relative;
  background: #22242C;
  overflow: hidden;
  @media only screen and (max-height: 749px) {
    padding: 230px 50px 0;
  }
  @media only screen and (max-width: $mediumDisplay) {
    padding: 120px 80px 0;

  }
  @media only screen and (max-width: $smallDisplay) {
    padding: 0 30px 0;
    flex-direction: column;
    justify-content: center;
  }
}

.homeBG {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 0;
  width: 100%;
  object-fit: cover;
}

.animation {
  width: 30%;
  display: flex;
  z-index: 1;
  padding-top: 30px;
  svg {
    width: 100%;
    height: 100%;
  }

  @media only screen and (max-width: $smallDisplay) {
    display: block;
    width: 250px;
    padding-top: 0;
    margin: 0 0 0 auto;
  }
}

.content {
  width: calc(60% - 0px);
  padding-right: 80px;
  z-index: 1;
  @media only screen and (max-width: $smallDisplay) {
    width: 100%;
    padding-left: 0;
    padding-top: 120px;
  }
}

html[lang='am'] .title{
  font-family: DejaVuSans, Arial, sans-serif;
}

.title {
  font-family: LexendLight;
  font-size: 65px;
  letter-spacing: 1px;
  margin-bottom: 0;
  @media only screen and (max-width: $largeDisplay) {
    font-size: 60px;
  }
  @media only screen and (max-width: $mediumDisplay) {
    font-size: 45px;
  }
  @media only screen and (max-width: $smallDisplay) {
    font-size: 40px;
    margin-bottom: 0;
  }

  span {
    color: #FE5840;
  }
}

.dates {
  font-size: 36px;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  @media only screen and (max-width: $largeDisplay) {
    font-size: 30px;
  }
  @media only screen and (max-width: $mediumDisplay) {
    display: flex;
    font-size: 25px;
  }
  @media only screen and (max-width: $smallDisplay) {
    font-size: 24px;
    margin-top: 10px;
  }
  @media only screen and (max-width: $extraExtraSmallDisplay) {
    font-size: 21px;
  }

}
html[lang='am'] .desc{
  font-family: DejaVuSans, Arial, sans-serif;
}
.desc {
  font-size: 20px;
  margin: 20px 0 40px;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  width: 600px;
  font-family: LexendLight;
  line-height: 1.5;
  @media only screen and (max-width: $largeDisplay) {
    font-size: 16px;
  }
  @media only screen and (max-width: $smallDisplay) {
    font-size: 14px;
    flex-direction: revert;
    justify-content: flex-end;
    width: auto;
    margin: 10px 0 15px;
  }

  svg {
    width: 200px;
    margin-right: 20px;
    @media only screen and (max-width: $smallDisplay) {
      width: 100px;
      order: 2;
      margin-right: 0;
    }
  }

  span {
    opacity: 0.7;
    @media only screen and (max-width: $smallDisplay) {
      text-align: right;
      margin-right: 10px;
      font-size: 11px;
    }
  }
}

.cta {
  margin: 35px 0;
}

.location {
  display: flex;
  align-items: center;
  margin: 30px 0;
  font-size: 19px;
  @media only screen and (max-width: $mediumDisplay) {
    font-size: 12px;
    align-items: flex-start;
    svg {
      width: 20px;
      height: 20px;
    }
  }

  span {
    padding-left: 30px;
    @media only screen and (max-width: $mediumDisplay) {
      padding-left: 10px;
    }
  }

  @media only screen and (max-width: $smallDisplay) {
    width: 204px;
    margin-bottom: 0;
  }
}

//@keyframes slideInFromRight {
//  from {
//    opacity: 0;
//    transform: translateX(100%);
//  }
//  to {
//    opacity: 1;
//    transform: translateX(0);
//  }
//}
//
//.title,
//.line1,
//.line2,
//.line3,
//.line4 {
//  opacity: 0;
//}
//
//.title {
//  animation: slideInFromRight 0.5s ease forwards;
//  animation-delay: 0.5s;
//}
//
//.line1 {
//  animation: slideInFromRight 0.5s ease forwards;
//  animation-delay: 1s;
//}
//
//.line2 {
//  animation: slideInFromRight 0.5s ease forwards;
//  animation-delay: 1.5s;
//  margin-left: -80px;
//}
//
//.line3 {
//  animation: slideInFromRight 0.5s ease forwards;
//  animation-delay: 2s;
//}
//
//.line4 {
//  animation: slideInFromRight 0.5s ease forwards;
//  animation-delay: 2.5s;
//}

@keyframes drawStroke {
  from {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
  }
}

.animatedStroke {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: drawStroke 3s ease-out forwards;
  stroke-width: 3;
}

.RALogo {
  width: 470px;
  z-index: 1;
  @media only screen and (max-width: $largeDisplay) {
    width: 400px;
  }
  @media only screen and (max-width: $mediumDisplay) {
    width: 100%;
  }
  @media only screen and (max-width: $smallDisplay) {
    width: 300px;
  }

  img {
    width: 100%;
  }
}