@import "src/variables";

.root {
  padding: 120px 50px 0;
  background: var(--background-color);
  color: var(--text-color);
  @media only screen and (max-width: $mediumDisplay) {
    padding: 80px 50px 0;
  }
  @media only screen and (max-width: $smallDisplay) {
    padding: 80px 25px 0;
  }
}

.title {
  font-size: 45px;
  letter-spacing: 1px;
  margin-bottom: 60px;


  @media only screen and (max-width: $mediumDisplay) {
    font-size: 35px;
    margin-bottom: 50px;
  }
  @media only screen and (max-width: $smallDisplay) {
    font-size: 40px;
    text-align: center;
    margin-bottom: 25px;
  }
}

.content {
  display: grid;
  grid-gap: 35px;
  //grid-template-rows: repeat(3, 1fr); /* Three rows */
  grid-template-rows: minmax(200px, auto);

  & > div:nth-child(3n+1) {
    grid-row: 1; /* Every third item starting from 1 goes to the first row */
  }

  & > div:nth-child(3n+2) {
    grid-row: 2; /* Every third item starting from 2 goes to the second row */
  }

  & > div:nth-child(3n) {
    grid-row: 3; /* Every third item starting from 3 goes to the third row */
  }

  @media only screen and (max-width: $mediumDisplay) {
    grid-template-rows: 1fr; /* Single row layout for small screens */
    grid-template-columns: 1fr; /* Single column layout for small screens */
    text-align: center;

    & > div {
      grid-row: unset !important; /* Reset grid row span */
    }
  }

  svg {
    width: 100%;
    path {
      fill: var(--highlight-color);
    }
  }
}

.followUs {
  margin-top: -60px;
  @media only screen and (max-width: $mediumDisplay) {
    margin-top: 0;
  }
}

html[lang='am'] .address,
html[lang='am'] .openingHours,
html[lang='am'] .callUs,
html[lang='am'] .email,
html[lang='am'] .followUs {
  p {
    font-family: DejaVuSans, Arial, sans-serif;
  }

  .subTitle {
    font-family: DejaVuSans, Arial, sans-serif;
  }

}

.address,
.openingHours,
.callUs,
.email,
.followUs {
  color: var(--text-color);
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 1px;
  font-family: LexendLight;

  a {
    color: var(--text-color);
    text-decoration: none;

    &:visited, &:hover, &:focus-within, &:focus {
      color: var(--text-color);
    }
  }

  @media only screen and (max-width: $smallDisplay) {
    font-size: 16px;
  }
}

.subTitle {
  color: var(--text-color);
  letter-spacing: 1px;
  font-size: 20px;
  margin-bottom: 15px;
  opacity: 0.6;
  @media only screen and (max-width: $smallDisplay) {
    font-size: 20px;
  }
}

.followUs {
  a {
    margin-right: 20px;
    display: inline-block;
  }

  svg {
    width: 50px;
    height: 50px;
    @media only screen and (max-width: $largeDisplay) {
      width: 35px;
      height: 35px;
    }
  }
}

.openingLine {
  padding-bottom: 10px;
}

.heart {
  text-align: center;
  padding: 10px 0 40px;
  font-weight: 100;
  letter-spacing: 1px;
  text-decoration: none;
  display: block;
  color: var(--text-color);
  @media only screen and (max-width: $mediumDisplay) {
    padding: 80px 30px 30px
  }
}

.organizers {
  a{
    width: 100px;
  }
  .promExpo {
    margin-right: 25px;
    display: inline-block;
  }

  .armeniaTravel {
    margin-right: 25px;
    display: inline-block;
  }

  .federation {
    margin-right: 25px;
    display: inline-block;
    width: 100px;

    svg {
      width: 100%;
      height: auto;
      @media only screen and (max-width: $smallDisplay) {
        max-height: 40px;
      }

      path {
        fill: var(--highlight-color);
      }
    }
  }

  img {
    max-height: 55px;
    width: auto;
    @media only screen and (max-width: $smallDisplay) {
      max-height: 40px;
    }
  }
}

.partners {
  a{
    display: inline-block;
  }
  .alphaConsulting {
    margin-right: 30px;
    width: 100px;
  }

  .committee {
    width: 200px;
    margin-left: 30px;
  }
}

.sponsor {
  @media only screen and (max-width: $mediumDisplay) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.evoca {
  margin-top: 10px;
  display: block;
  width: 120px;
  height: 30px;

  svg {
    height: 100%;
    width: 100%;
  }
}

.underRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 70px 0 10px;

  .logo {
    width: 180px;

    svg {
      width: 100%;
    }
  }

  .socials {
    path {
      fill: var(--text-color);
    }

    svg {
      width: 25px;
      height: 25px;
      margin-left: 10px;
    }
  }
}