@import "src/variables";

.root {
  padding: 120px 100px 0;
  background: #22242C;
  color: white;
  @media only screen and (max-width: $mediumDisplay) {
    padding: 80px 80px 0;
  }
  @media only screen and (max-width: $smallDisplay) {
    padding: 80px 25px 0;
  }
}

.title {
  font-size: 45px;
  letter-spacing: 1px;
  margin-bottom: 60px;


  @media only screen and (max-width: $mediumDisplay) {
    font-size: 35px;
    margin-bottom: 50px;
  }
  @media only screen and (max-width: $smallDisplay) {
    font-size: 40px;
    text-align: center;
    margin-bottom: 25px;
  }
}
.content {
  display: grid;
  grid-gap: 35px;
  grid-template-rows: repeat(2, 1fr); /* Three rows */

  & > div:nth-child(2n+1) {
    grid-row: 1;
  }

  & > div:nth-child(2n+2) {
    grid-row: 2;
  }

  & > div:nth-child(2n) {
    grid-row: 2;
  }

  @media only screen and (max-width: $mediumDisplay) {
    grid-template-rows: 1fr; /* Single row layout for small screens */
    grid-template-columns: 1fr; /* Single column layout for small screens */
    text-align: center;

    & > div {
      grid-row: unset!important; /* Reset grid row span */
    }
  }
}

.followUs{
  margin-top: -60px;
  @media only screen and (max-width: $mediumDisplay) {
    margin-top: 0;
  }
}
html[lang='am'] .address,
html[lang='am'] .openingHours,
html[lang='am'] .callUs,
html[lang='am'] .email,
html[lang='am'] .followUs{
  p{
    font-family: Arial, sans-serif;
  }
  .subTitle{
    font-family: DejaVuSans, sans-serif;
  }

}
.address,
.openingHours,
.callUs,
.email,
.followUs {
  color: #fff;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 1px;
  font-family: LexendLight;
  a {
    color: #fff;
    text-decoration: none;

    &:visited, &:hover, &:focus-within, &:focus {
      color: #fff;
    }
  }
  @media only screen and (max-width: $smallDisplay) {
    font-size: 18px;
  }
}

.subTitle {
  color: white;
  letter-spacing: 1px;
  font-size: 20px;
  margin-bottom: 15px;
  opacity: 0.6;
  @media only screen and (max-width: $smallDisplay) {
    font-size: 20px;
  }
}

.followUs {
  a {
    margin-right: 20px;
    display: inline-block;
  }

  svg {
    width: 50px;
    height: 50px;
    @media only screen and (max-width: $largeDisplay) {
      width: 35px;
      height: 35px;
    }
  }
}

.openingLine{
  padding-bottom: 10px;
}
.heart{
  text-align: center;
  padding: 10px 0 40px;
  font-weight: 100;
  color: #CCCCCC;
  letter-spacing: 1px;
  text-decoration: none;
  display: block;
  @media only screen and (max-width: $mediumDisplay) {
    padding: 80px 30px 30px
  }
}
.organizers{
  .promExpo{
      margin-right: 25px;
  }
  img{
    max-height: 55px;
    width: auto;
  }
}
.sponsor{
  @media only screen and (max-width: $mediumDisplay) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.evoca{
  margin-top: 10px;
  display: block;
  width: 120px;
  height: 30px;
  svg{
    height: 100%;
    width: 100%;
  }
}
.underRow{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 70px 0 10px;
  .logo{
    width: 180px;
    svg{
      width: 100%;
    }
  }
  .socials{
    path{
      fill: white;
    }
    svg{
      width: 25px;
      height: 25px;
      margin-left: 10px;
    }
  }
}