.toggleContainer {
  z-index: 2;
  display: inline-flex;
  align-items: center;
  border-radius: 30px;
  padding: 4px;
  cursor: pointer;
  position: relative;
  width: 60px;
  height: 28px;
  transition: background-color 0.3s ease;
  user-select: none;
  outline: 2px solid var(--toggle-border);
  outline-offset: 1px;
}

.toggleButton {
  width: 24px;
  height: 24px;
  background: #FE5840;
  border-radius: 50%;
  position: absolute;
  left: 4px;
  transition: transform 0.3s ease;
  z-index: 5;

  &.dark {
    transform: translateX(29px);
  }
}

.icon {
  font-size: 14px;
  line-height: 1;
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  z-index: 1;

  &.moon {
    right: 8px;
  }

  &.sun {
    left: 8px;
  }
  path{
    fill: var(--text-color);
  }
}