.root{
  position: relative;
}
.label{
  margin-bottom: 10px;
  display: block;
  font-size: 14px;
  color: var(--text-color);
}
.selectedOptions{
  height: 68px;
  background: var(--background-color);
  color: var(--text-color);
  display: flex;
  align-items: center;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 1px solid #4E5056;
  cursor: pointer;
}
.error{
  .selectedOptions{
    border: 1px solid #FE5840;
  }
}
.open{
  .arrow{
    transform: rotate(180deg);
  }
}
.errorText{
  color: #FE5840;
}
.secondSpan{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.option{
  cursor: pointer;
  &:hover{
    color: #FE5840;
  }
}
.selectedOption{
}
.selected{
  color: #FE5840;
}
.dropdownOptions{
  background: var(--background-color);
  padding: 10px;
  position: absolute;
  width: 100%;
  top: 95px;
  border: 1px solid #4E5056;
  z-index: 1;
  max-height: 260px;
  overflow: auto;
}
.empty{
  text-align: center;
  color: var(--text-color);
}
.option{
  margin-bottom: 5px;
}
.arrow{
  position: absolute;
  top: 53px;
  right: 15px;
  pointer-events: none;
}