/* _variables.scss */

/* Media query breakpoints */
$extraExtraLargeDisplay: 1920px;
$extraLargeDisplay: 1600px;
$largeLaptopDisplay: 1440px;
$largeDisplay: 1200px;
$mediumDisplay: 1023px;
$smallDisplay: 767px;
$extraSmallDisplay: 479px;
$extraExtraSmallDisplay: 375px;

:root {
  --background-color: #D4CFCE;
  --text-color: #22242C;
  --background-color-secondary: #e4e2e1;
  --highlight-color: #fff;
}

/* Dark Theme */
[data-theme="dark"] {
  --background-color: #22242C;
  --text-color: #FFFFFF;
  --background-color-secondary: #414141;
  --highlight-color: #696969;
}
