$extraExtraLargeDisplay: 1920px;
$extraLargeDisplay: 1600px;
$largeLaptopDisplay: 1440px;
$largeDisplay: 1200px;
$mediumDisplay: 1023px;
$smallDisplay: 767px;
$extraSmallDisplay: 479px;
$extraExtraSmallDisplay: 375px;