@font-face {
    font-family: Lexend;
    src: url("fonts/Lexend-Regular.ttf") format("truetype");
}

@font-face {
    font-family: LexendBold;
    src: url("fonts/Lexend-Bold.ttf") format("truetype");
}
@font-face {
    font-family: LexendLight;
    src: url("fonts/Lexend-Light.ttf") format("truetype");
}

@font-face {
    font-family: ArmguardU;
    src: url("fonts/ArmguardU.ttf") format("truetype");
}
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #414141;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #696969;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #797979;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: ArmguardU, Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: ArmguardU, Arial, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

