@import "src/variables";

.root {
  background: linear-gradient(#22242C, #22242C);
  color: white;
  font-family: Lexend, serif;
  padding: 50px 50px 50px;
  min-height: 100vh;

  @media only screen and (max-width: $mediumDisplay) {
    padding: 20px 80px 0;
  }
  @media only screen and (max-width: $smallDisplay) {
    padding: 20px 0 0 30px;
  }
}
html[lang='am'] .root {
  font-family: DejaVuSans, Arial, sans-serif;
}
.pageTitle {
  font-size: 45px;
  letter-spacing: 1px;

  @media only screen and (max-width: $largeDisplay) {
    font-size: 40px;
  }
  @media only screen and (max-width: $smallDisplay) {
    font-size: 34px;
  }
}

.subtitle {
  font-size: 18px;
  opacity: 0.6;
  margin: 20px 0;

  @media only screen and (max-width: $largeDisplay) {
    font-size: 16px;
  }
  @media only screen and (max-width: $smallDisplay) {
    font-size: 14px;
  }
}

.tabButton, .activeTab {
  color: white;
  font-size: 20px;
  background: transparent;
  outline: none;
  border: none;
  margin-bottom: 30px;
  padding: 10px;
  cursor: pointer;
  margin-right: 50px;
  @media only screen and (max-width: $mediumDisplay) {
    margin-right: 10px;
  }
  @media only screen and (max-width: $smallDisplay) {
    font-size: 16px;
  }
}

.activeTab {
  color: #FE5840;
  border-bottom: 2px solid #FE5840;
}

html[lang='am'] .event {
  font-family: DejaVuSans, Arial, sans-serif;
}

.event {
  display: flex;
  font-family: LexendLight, serif;
  margin-bottom: 30px;
  border-bottom: 1px solid #282C2A;
  padding-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }

  @media only screen and (max-width: $mediumDisplay) {
    flex-direction: column;
  }
}

.blockOne {
  flex: 1;
  @media only screen and (max-width: $mediumDisplay) {
    display: flex;
    align-items: center;
  }
}

.blockTwo {
  flex: 2;
}

.eventTime {
  margin-bottom: 15px;
  opacity: 0.8;
  font-size: 30px;
  white-space: nowrap;
  @media only screen and (max-width: $largeDisplay) {
    font-size: 28px;
  }
  @media only screen and (max-width: $mediumDisplay) {
    margin-bottom: 0;
    margin-right: 26px;
  }
  @media only screen and (max-width: $smallDisplay) {
    font-size: 20px;
  }
}


.eventZone {
  padding: 10px 15px;
  background: #383A41;
  width: max-content;
  font-size: 14px;
  text-align: center;
  @media only screen and (max-width: $largeDisplay) {
    font-size: 12px;
  }
  @media only screen and (max-width: $smallDisplay) {
    font-size: 10px;
  }
}
html[lang='am'] .eventTitle {
  font-family: DejaVuSans, Arial, sans-serif;
}
.eventTitle {
  font-size: 35px;
  font-family: LexendLight, serif;

  @media only screen and (max-width: $largeDisplay) {
    font-size: 30px;
  }
  @media only screen and (max-width: $mediumDisplay) {
    font-size: 26px;
  }
  @media only screen and (max-width: $smallDisplay) {
    font-size: 20px;
  }
}

.eventDesc {
  font-size: 16px;
  opacity: 0.6;
  margin-top: 15px;

  @media only screen and (max-width: $largeDisplay) {
    font-size: 14px;
  }
  @media only screen and (max-width: $smallDisplay) {
    font-size: 12px;
  }
}

.tabContent {
  max-height: 90vh;
  overflow: auto;
}