@import "src/variables";

.root {
  background: linear-gradient(#22242C, #22242C);
  color: white;
  font-family: Lexend, serif;
  padding: 50px 50px 0;
  @media only screen and (max-width: $mediumDisplay) {
    padding: 20px 80px 0;
  }
  @media only screen and (max-width: $smallDisplay) {
    padding: 0 30px 0;
  }
}


.button {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 70px;
  margin-top: 40px;
  @media only screen and (max-width: $mediumDisplay) {
    justify-content: flex-start;
    flex-direction: column;
  }
}

.downloadBtn {
  margin-left: 30px;
  @media only screen and (max-width: $mediumDisplay) {
    margin-left: 0;
    margin-top: 20px;
  }
}

.content {
  display: flex;
  @media only screen and (max-width: $mediumDisplay) {
    flex-direction: column-reverse;
  }
}

.textButton {
  width: 55%;
  @media only screen and (max-width: $mediumDisplay) {
    width: 100%;
  }
}

.imageBlock {
  padding: 40px;
  width: 45%;
  @media only screen and (max-width: $mediumDisplay) {
    width: 100%;
  }
}

.textWrapper {
  flex: 1;

  @media only screen and (max-width: $mediumDisplay) {
    padding: 50px 30px
  }
  @media only screen and (max-width: $smallDisplay) {
    padding: 50px 0px 0;
  }
}

.text {
  font-family: LexendLight;
  line-height: 1.5;
}


.textTitle {
  font-family: LexendLight;
  display: flex;
  align-items: center;
  font-size: 45px;
  margin-bottom: 25px;
  width: 200px;
  @media only screen and (max-width: $mediumDisplay) {
    font-size: 45px;
  }
}

.logo {
  margin-right: 20px;
  @media only screen and (max-width: $mediumDisplay) {
    svg {
      width: 40px;
    }
  }
}

.imagePath {
  position: relative;
}

.image {
  width: 100%;
  position: relative;
  z-index: 1;
  @media only screen and (max-width: $mediumDisplay) {
    width: 50%;
  }
}


.outline {
  width: 100%;
  position: absolute;
  right: -30px;
  top: -30px;
  z-index: 0;
  @media only screen and (max-width: $mediumDisplay) {
    width: 50%;
    right: 0;
    left: 30px;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}


