.modalInfo {
  p {
    margin-bottom: 10px;
  }
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

:global {
  .RaLayout-contentWithSidebar {
    margin-top: 55px;
  }

  .RaDatagrid-headerCell {
    background: #fafafb !important;
  }

  .css-sghohy-MuiButtonBase-root-MuiButton-root, .MuiButton-colorSecondary {
    background: #FCA508 !important;
    color: #032E42 !important;
    box-shadow: none !important;
    font-weight: bold !important;
  }

  button.Mui-disabled {
    background: rgba(0, 0, 0, 0.12) !important;
  }

  .css-1lm524j-MuiInputBase-root-MuiFilledInput-root, .css-9tq3d4-MuiInputBase-root-MuiFilledInput-root, .css-81sbzg-MuiInputBase-root-MuiFilledInput-root{
   background: transparent !important;
  }
}
.forum{
  padding: 5px 10px;
  display: inline-block;
  background: #11368a;
  color: white;
  border-radius: 5px;
}